{% extends "base.html.twig" %}

{% block title %}Report - MVC Course{% endblock %}

{% block body %}
    <main>
        <div class="report-container">
            <h1>Redovisningstexter</h1>

        <nav class="report-link">
            <ul>
                <li><a href="#kmom01">Kmom01</a></li>
                <li><a href="#kmom02">Kmom02</a></li>
                <li><a href="#kmom03">Kmom03</a></li>
                <li><a href="#kmom04">Kmom04</a></li>
                <li><a href="#kmom05">Kmom05</a></li>
                <li><a href="#kmom06">Kmom06</a></li>
                <li><a href="#kmom10">Kmom10</a></li>
            </ul>
        </nav>

            <section id="kmom01">
                <h2>Kmom01</h2>
                <p>
                    Redovisningstext för kmom
                </p>
            </section>

            <section id="kmom02">
                <h2>Kmom02</h2>
                <p>
                    Redovisningstext för kmom02
                </p>
            </section>

            <section id="kmom03">
                <h2>Kmom03</h2>
                <p>
                    Redovisningstext för kmom03
                </p>
            </section>

            <section id="kmom04">
                <h2>Kmom04</h2>
                <p>
                    Redovisningstext för kmom04
                </p>
            </section>

            <section id="kmom05">
                <h2>Kmom05</h2>
                <p>
                    Redovisningstext för kmom05
                </p>
            </section>

            <section id="kmom06">
                <h2>Kmom06</h2>
                <p>
                    Redovisningstext för kmom06
                </p>
            </section>

            <section id="kmom10">
                <h2>Kmom10</h2>
                <p>
                    Redovisningstext för kmom10
                </p>
            </section>
        </div>
    </main>
{% endblock %}