{% extends 'base.html.twig' %}

{% block title %}Draw Cards{% endblock %}

{% block body %}
<main>
    <div class="card-game">
        <h1>Draw Cards</h1>

        {% for message in app.flashes('error') %}
            <p class="error">{{ message }}</p>
        {% endfor %}

        <form method="post" action="{{ path('deck_draw_init') }}">
            <label for="num_cards">Number of cards to draw:</label>
            <input type="number" id="num_cards" name="num_cards" min="1" max="52" value="1">
            <input type="submit" value="Draw Cards">
        </form>

    </div>
</main>
{% endblock %}
