{% extends "project-base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <main class="rules">
        <div class="blackjack">
            <h2>Blackjack projektet</h2>
            <h3>
                Välkommen till mitt Blackjack spel! 
            </h3>
            <p>
                
            </p>
        </div>
    </main>
    
{% endblock %}