{% extends 'project-base.html.twig' %}

{% block title %}Landningssida{% endblock %}

{% block body %}

<main class="rules">
    <div class="blackjack">

        <h2>Regler</h2>
        <ul>
            <li>Kort 2 till 10 är värda sitt numeriska värde.</li>
            <li>Knekt, Dam och Kung är alla värda 10 poäng.</li>
            <li>Ess är unikt, det kan vara värt 1 eller 11 poäng, beroende på vad som gynnar din hand bäst utan att du "bustar".</li>
            <li>Vid spelets start får du två kort. Du kan sedan välja att "Ta kort" (Hit) för att få ett till kort, eller "Stanna" (Stand) för att behålla din nuvarande hand.</li>
            <li>Målet är att få en hand så nära 21 poäng som möjligt, utan att överstiga det.</li>
            <li>Om din hand överstiger 21 poäng, har du "bust" och förlorar omgången.</li>
            <li>Dealern måste fortsätta ta kort tills dennes hand är minst 17 poäng.</li>
            <li>Du vinner om din hand är närmare 21 än dealerns, eller om dealern bustar. Om ni har samma poäng blir det oavgjort, även kallat "push".</li>
            <li>En "Blackjack" är när du får 21 poäng på dina första två kort. Detta ger ofta en högre utbetalning!</li>
        </ul>

        <div class="rules-button">
            <a href="{{ path('project') }}" class="start-button">Tillbaka till hemsidan</a>
        </div>
    </div>
</main>
{% endblock %}
